
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <ul>
        <li><h3>@Html.ActionLink("Seguradoras", "Index", "Seguradora")</h3></li>
        <li><h3>@Html.ActionLink("Coberturas", "Index", "Cobertura")</h3></li>
        <li><h3>@Html.ActionLink("Propostas", "Index", "Proposta")</h3></li>
        <li><h3>@Html.ActionLink("Usuarios", "Index", "Usuario")</h3></li>
        <li><h3>@Html.ActionLink("Apolice", "Index", "Apolice")</h3></li>
    </ul>


