@model CotacaoApp.Models.Endosso

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodApolice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodApolice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEndosso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEndosso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
