@model CotacaoApp.Models.Endosso
@using CotacaoApp.Models

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Endosso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @if (Model.Apolice != null)
        {
            @Html.Partial("_Apolice", (Apolice)Model.Apolice)
            @Html.HiddenFor(model => model.CodApolice, new { id = "Apolice.CodApolice", Value = @Model.Apolice.Id })

        }
        <div class="form-group">
            @Html.LabelFor(model => model.CodApoliceAntigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodApoliceAntigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodApoliceAntigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodApolice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodApolice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodApolice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataEndosso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEndosso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataEndosso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"><input type="submit" value="Cadastrar" class="form-control" /></div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
