@model CotacaoApp.Models.Apolice
@using CotacaoApp.Models

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Apólice</h4>
    <hr />
    @if (Model.Proposta != null)
    {
        @Html.Partial("_Proposta", (Proposta)Model.Proposta)
        @Html.HiddenFor(model => model.CodigoProposta, new { id = "Comissao.CodigoProposta", Value = @Model.Proposta.Id })

    }
    <h1>Apolice</h1>
    <dl class=" col-lg-12">

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Status)</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Seguradora.NomeSeguradora)</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguradora.NomeSeguradora)
        </dd>

        <dt>
            <h4>Valor do Contrato:</h4>
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.ValorContrato)
        </dd>

        <!-- Comissao  INICIO -->
        <dt>
            <h4>@Html.DisplayNameFor(model => model.Comissao.ValorPercentualComissao)</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comissao.ValorPercentualComissao) %
        </dd>

        <dt>
            <h4>@Html.DisplayNameFor(model => model.Comissao.ValorComissaoLiquida)</h4>
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.Comissao.ValorComissaoLiquida)
        </dd>

        
        <!-- Comissao  FIM -->

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>

<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo1.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo2.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo3.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo4.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/validacaoProposta.js"></script>
<script type="text/javascript" src="~/Scripts/utilCorretorApp.js"></script>