@model CotacaoApp.Models.Apolice

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Apólice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segurdora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurdora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>