@model CotacaoApp.Models.Apolice
@using CotacaoApp.Models

@{
    ViewBag.Title = "Editar";
    Usuario usuario = (Usuario)Session["UsuarioLogado"];
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="Apolice">
        <h4>Apolice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model.Proposta != null)
        {
            @Html.Partial("_PropostaEdit", (Proposta)Model.Proposta)
            @Html.HiddenFor(model => model.CodigoProposta, new { id = "Comissao.CodigoProposta", Value = @Model.Proposta.Id })

        }
    </div>

        @Html.HiddenFor(model => model.Id)
        <h1>Apolice</h1>
        <h4>@Html.DisplayNameFor(model => model.Status) : @Html.DisplayFor(model => model.Status)</h4>



        <input type="hidden" id="CodigoSeguradoraHidden" value="@Model.CodigoSeguradora" />
        <div class="col-lg-12">
            <div class="form-group col-lg-12">
                @Html.Label("Seguradora:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <select name="CodigoSeguradora" id="CodigoSeguradora" class="form-control col-md-9" style="margin-left:8px">
                    <option>Escolha uma Seguradora</option>
                    @if (Model.Seguradoras != null)
                     {
                        foreach (var seguradora in Model.Seguradoras)
                        {
                                <option value="@seguradora.Id">@seguradora.NomeSeguradora</option>
                        }
                     }
                </select>
            </div>


            <div class="form-group">
                @Html.Label("Valor do Contrato:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group col-lg-9" style="padding-left:15px">
                    <div class="input-group-addon">$</div>
                    <input type="text" id="ValorContrato" style="width: 315px;" value="@Model.ValorContrato" name="ValorContrato" class="form-control numeric" placeholder="0.00">
                </div>
            </div>



            <h2>Comissão</h2>
            @Html.HiddenFor(model => model.Comissao.CodigoUsuario, new { id = "Comissao.CodigoUsuario", Value = @usuario.Id })

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorPremioLiquido, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">$</div>
                    <input type="text" id="Comissao.ValorPremioLiquido" value="@Model.Comissao.ValorPremioLiquido" style="width: 315px;" name="Comissao.ValorPremioLiquido" class="form-control numeric" placeholder="0.00">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorComissaoLiquida, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">$</div>
                    <input type="text" id="Comissao.ValorComissaoLiquida" value="@Model.Comissao.ValorComissaoLiquida" style="width: 315px;" name="Comissao.ValorComissaoLiquida" class="form-control numeric" placeholder="0.00">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorPercentualComissao, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">%</div>
                    <input type="text" id="Comissao.ValorPercentualComissao" value="@Model.Comissao.ValorPercentualComissao" style="width: 315px;" name="Comissao.ValorPercentualComissao" class="form-control numeric" placeholder="0.00">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorPercentualComissaoLiquido, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">%</div>
                    <input type="text" id="Comissao.ValorPercentualComissaoLiquido" value="@Model.Comissao.ValorPercentualComissaoLiquido" style="width: 315px;" name="Comissao.ValorPercentualComissaoLiquido" class="form-control numeric" placeholder="0.00">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorPercentualImpostoSobreRenda, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">%</div>
                    <input type="text" id="Comissao.ValorPercentualImpostoSobreRenda"  value="@Model.Comissao.ValorPercentualImpostoSobreRenda" style="width: 315px;" name="Comissao.ValorPercentualImpostoSobreRenda" class="form-control numeric" placeholder="0.00">
                </div>
            </div>
            <input type="hidden" id="formularioApoliceHtml" name="formularioApoliceHtml" />
            <div><input type="submit" value="Emitir Apolice Para o Cliente" class="form-control btn-success" /></div>
        </div>
}

<div class="col-lg-12">
    @Html.ActionLink("Voltar a Lista", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var CodigoSeguradora = $('#CodigoSeguradoraHidden').val();
        $('#CodigoSeguradora').val(CodigoSeguradora);
        $('#CodigoSeguradora').trigger('change');
    });


    $(".numeric").inputmask("decimal", {
        radixPoint: ",",
        digits: 2
    });

    $("#ApoliceForm").submit(function (event) {
        debugger;
        $("#contratoEmail").show();
        $("#valorContratoEmail").val($("#ValorContrato").val());
        $("#corretorEmail").val('teste');
        $("#formularioApoliceHtml").val($("#Apolice").html());

    });

</script>

<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo1.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo2.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo3.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo4.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/validacaoProposta.js"></script>
<script type="text/javascript" src="~/Scripts/utilCorretorApp.js"></script>

