@model PagedList.IPagedList<CotacaoApp.Models.Apolice>
@using PagedList.Mvc;
@using CotacaoApp.Enumerations;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Apólice";
}

<h2>Lista de Apólices</h2>
@using (Html.BeginForm("Index", "Apolice", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="SearchString">Nome do Segurado</label>
        <input type="text" id="SearchString" name="apoliceSearch.Proposta.Segurado.Nome" class="form-control" placeholder="Nome do Segurado" />
    </div>

    @Html.DropDownList("apoliceSearch.Status", EnumHelper.GetSelectList(typeof(Status)), "Selecione o Status", new { @class = "form-control" })

    <input type="submit" class="btn-sm btn-default" value="Buscar" />
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nome da Seguradora", "Index", new { sortOrder = ViewBag.NomeSeguradoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Veículo", "Index", new { sortOrder = ViewBag.VeiculoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nome do Segurado", "Index", new { sortOrder = ViewBag.NomeSeguradoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Valor do Premio Líquido", "Index", new { sortOrder = ViewBag.ValorPremioLiquidoVeiculoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("ValorContrato")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seguradora.NomeSeguradora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proposta.NomeVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proposta.Segurado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comissao.ValorPremioLiquido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorContrato)
            </td>
            <td>
                @Html.ActionLink("Alterar/Criar Endosso", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="col-sm-10">
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page = page }))
        Mostrando @Model.FirstItemOnPage de @Model.LastItemOnPage
        de @Model.TotalItemCount Apolices
    </div>
</div>
