@model CotacaoApp.Models.Apolice
@using CotacaoApp.Models

@{
    ViewBag.Title = "Revisão de Envio de Endosso";
    Usuario usuario = (Usuario)Session["UsuarioLogado"];
}

<h2>Revisão de Envio de Endosso da Apolice</h2>

@using (Html.BeginForm("Edit", "Apolice", FormMethod.Post, new { id = "ApoliceForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("apolice", new Microsoft.Web.Mvc.MvcSerializer().Serialize(Model))
    <div class="form-horizontal" id="Apolice">
        <h4>Endosso da Apolice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model.Proposta != null)
        {
            @Html.Partial("_Proposta", (Proposta)Model.Proposta)
            @Html.HiddenFor(model => model.CodigoProposta, new { id = "Comissao.CodigoProposta", Value = @Model.Proposta.Id })

        }
    </div>

    <br />
        <h1>Apolice</h1>
        <h4>@Html.DisplayNameFor(model => model.Status) : @Html.DisplayFor(model => model.Status)</h4>
        <input type="hidden" id="CodigoSeguradoraHidden" value="@Model.CodigoSeguradora" />
        <div class="col-lg-12">
            <div class="form-group col-lg-12">
                @Html.Label("Seguradora:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <select name="CodigoSeguradora" id="CodigoSeguradora" class="form-control col-md-9" style="margin-left:8px" placeholder="Escolha uma Seguradora" required>
                    <option value="" disabled selected>Escolha uma Seguradora</option>
                    @if (Model.Seguradoras != null)
                {
                    foreach (var seguradora in Model.Seguradoras)
                    {
                            <option value="@seguradora.Id">@seguradora.NomeSeguradora</option>
                        }
                    }
                </select>
            </div>


            <div class="form-group">
                @Html.Label("Valor do Contrato:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group col-lg-9" style="padding-left:15px">
                    <div class="input-group-addon">R$</div>
                    <input type="text" id="ValorContrato" style="width: 315px;" name="ValorContrato" value="@Model.ValorContrato" class="form-control numeric" placeholder="0.00" required>
                </div>
            </div>



            <h2>Comissão</h2>
            @Html.HiddenFor(model => model.Comissao.CodigoUsuario, new { id = "Comissao.CodigoUsuario", Value = @usuario.Id })

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Comissao.ValorPremioLiquido, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="input-group" style="padding-left:15px">
                        <div class="input-group-addon">$</div>
                        <input type="text" id="Comissao.ValorPremioLiquido" style="width: 315px;" name="Comissao.ValorPremioLiquido" class="form-control numeric" placeholder="0.00">
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorPercentualComissao, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">%</div>
                    <input type="number" id="Comissao_ValorPercentualComissao" value="@Model.Comissao.ValorPercentualComissao" style="width: 315px;" min="0" max="100" name="Comissao.ValorPercentualComissao" class="form-control numeric" placeholder="0.00" required>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comissao.ValorComissaoLiquida, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="input-group" style="padding-left:15px">
                    <div class="input-group-addon">R$</div>
                    <input type="text" id="Comissao_ValorComissaoLiquida" value="@Model.Comissao.ValorComissaoLiquida" style="width: 315px;" name="Comissao.ValorComissaoLiquida" class="form-control numeric" placeholder="0.00" disabled>
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Comissao.ValorPercentualComissaoLiquido, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="input-group" style="padding-left:15px">
                        <div class="input-group-addon">%</div>
                        <input type="text" id="Comissao.ValorPercentualLiquido" style="width: 315px;" name="Comissao.ValorPercentualLiquido" class="form-control numeric" placeholder="0.00">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comissao.ValorPercentualImpostoSobreRenda, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="input-group" style="padding-left:15px">
                        <div class="input-group-addon">%</div>
                        <input type="text" id="Comissao.ValorPercentualImpostoSobreRenda" style="width: 315px;" name="Comissao.ValorPercentualImpostoSobreRenda" class="form-control numeric" placeholder="0.00">
                    </div>
                </div>*@
            <input type="hidden" id="formularioApoliceHtml" name="formularioApoliceHtml" />
            <div><input type="submit" value="Emitir Apolice Para o Cliente" class="form-control btn-success" /></div>
        </div>


}

<div class="col-lg-12">
    @Html.ActionLink("Voltar para a Lista", "Index")
</div>

<script type="text/javascript">
    $(".numeric").inputmask("decimal", {
        radixPoint: ",",
        digits: 2
    });

    $(document).ready(function () {
        var CodigoSeguradora = $('#CodigoSeguradoraHidden').val();
        $('#CodigoSeguradora').val(CodigoSeguradora);
        $('#CodigoSeguradora').trigger('change');
        $("#Comissao_ValorPercentualComissao").trigger('change');
    });

    $("#ApoliceForm").submit(function (event) {

        $("#ApoliceForm").validate();
        if ($("#ApoliceForm").valid()) {
            debugger;
            $("#contratoEmail").show();
            $("#valorContratoEmail").val($("#ValorContrato").val());
            $("#corretorEmail").val('teste');
            $("#formularioApoliceHtml").val($("#Apolice").html());
        }

    });



    $("#Comissao_ValorPercentualComissao").on('change', function () {
        var valorPercentual = parseFloat($(this).val().replace(",", "."));
        var valorContrato = parseFloat($('#ValorContrato').val().replace(",", "."));

        var valorComissao = valorContrato * (valorPercentual / 100);

        $('#Comissao_ValorComissaoLiquida').val(valorComissao);


    });


</script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo1.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo2.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo3.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo4.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/validacaoProposta.js"></script>
<script type="text/javascript" src="~/Scripts/utilCorretorApp.js"></script>
