@model CotacaoApp.Models.Comissao

@{
    ViewBag.Title = "Detalhes da Comissao";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoUsuario)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ValorPremioLiquido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPremioLiquido)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ValorComissaoLiquida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorComissaoLiquida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPercentualComissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPercentualComissao)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ValorPercentualComissaoLiquido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPercentualComissaoLiquido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPercentualImpostoSobreRenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPercentualImpostoSobreRenda)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
