@model IEnumerable<CotacaoApp.Models.Comissao>

@{
    ViewBag.Title = "Comissões";
}

<h2>Comissoes</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ValorPremioLiquido)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ValorComissaoLiquida)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ValorPercentualComissao)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.ValorPercentualComissaoLiquido)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ValorPercentualImpostoSobreRenda)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ValorPremioLiquido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ValorComissaoLiquida)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ValorPercentualComissao)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.ValorPercentualComissaoLiquido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ValorPercentualImpostoSobreRenda)
            </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
