<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
    @using CotacaoApp.Models
    @using CotacaoApp.Enumerations


    @{
        Usuario usuarioSessao = Session["UsuarioLogado"] as Usuario;
    }


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    @if (Session["UsuarioLogado"] != null)
                    {
                        if (usuarioSessao.Permissao == Permissao.ADMINISTRADOR)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administração <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                                    <li>@Html.ActionLink("Cobertura", "Index", "Cobertura")</li>
                                    <li>@Html.ActionLink("Seguradora", "Index", "Seguradora")</li>
                                </ul>
                            </li>
                        }
                        if (usuarioSessao.Permissao == Permissao.CORRETOR || usuarioSessao.Permissao == Permissao.ADMINISTRADOR)
                        {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seguradora <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Propostas", "Index", "Proposta")</li>
                                <li>@Html.ActionLink("Apolice", "Index", "Apolice")</li>
                                <li>@Html.ActionLink("Cobertura", "Index", "Cobertura")</li>
                                <li>@Html.ActionLink("Pagamentos", "Index", "ValorProposta")</li>
                                <li>@Html.ActionLink("Endosso", "Index", "Endosso")</li>
                            </ul>
                        </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <footer class="container">

        <p>  &copy; @DateTime.Now.Year - Seguro de Automoveis Com Corretores de Verdade</p>
    </footer>

    
</body>
</html>
