@model CotacaoApp.Models.Proposta

@{
    ViewBag.Title = "Excluir Proposta";
}

<h2>Excluir Proposta</h2>

<h3>Você tem certeza de que quer deletar isso?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segurado.CodigoCpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado.CodigoCpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segurado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
