@model CotacaoApp.Models.Proposta

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigoSegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoSegurado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coberturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coberturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoCobertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCobertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeMarcaVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMarcaVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacaoVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoFabricacaoVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoModeloVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoModeloVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEZeroKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEZeroKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEFinanciadoVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEFinanciadoVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoVeiculoTaxi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoVeiculoTaxi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoVeiculoDeficiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoVeiculoDeficiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoVeiculoKitGas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoVeiculoKitGas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoVeiculoBlindado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoVeiculoBlindado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoVeiculoPessoaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoVeiculoPessoaJuridica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEAlarmeVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEAlarmeVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoEstacionamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoEstacionamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IETipoPortao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IETipoPortao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CepEstacionamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CepEstacionamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CepDeslocamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CepDeslocamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEUtilizacaoVeiculoLazer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEUtilizacaoVeiculoLazer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEUtilizacaoVeiculoTrabalho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEUtilizacaoVeiculoTrabalho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IELocalGaragemTrabalho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IELocalGaragemTrabalho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEDistanciaParaTrabalhoVeiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEDistanciaParaTrabalhoVeiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEUtilizacaoVeiculoEstudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEUtilizacaoVeiculoEstudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IELocalGaragemEstudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IELocalGaragemEstudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEUtilizacaoVeiculoInstrumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEUtilizacaoVeiculoInstrumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEUtilizacaoVeiculoInstrumentoForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEUtilizacaoVeiculoInstrumentoForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEKmEmMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEKmEmMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segurado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEMotivoCotacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEMotivoCotacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEPrimeiroSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEPrimeiroSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IESeguroAtualQuerMaisOpcoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IESeguroAtualQuerMaisOpcoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IESeguroAtualMelhorAtendimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IESeguroAtualMelhorAtendimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IESeguroAtualNaoSatisfeito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IESeguroAtualNaoSatisfeito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeSeguradoraAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSeguradoraAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataApoliceAtualVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataApoliceAtualVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEBonusSeguroAtualSemSinistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEBonusSeguroAtualSemSinistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IEBonusSeguroAtualComSinistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IEBonusSeguroAtualComSinistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroApoliceAntiga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroApoliceAntiga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCIAntiga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCIAntiga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutroCondutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutroCondutor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPlaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPlaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroChassi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroChassi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
