@model PagedList.IPagedList<CotacaoApp.Models.Proposta>
@using PagedList.Mvc;
@using CotacaoApp.Enumerations;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Propostas";
}

<h2>Lista de Propostas</h2>

@using (Html.BeginForm("Index", "Proposta", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="propostaSearch_Segurado_Nome">Nome do Segurado</label>
        <input type="text" id="propostaSearch_Segurado_Nome" name="propostaSearch.Segurado.Nome" class="form-control" placeholder="Nome do Segurado" />
    </div>
    <select id="propostaSearch_Status" name="propostaSearch.Status" class="form-control">
            @foreach (var status in EnumHelper.GetSelectList(typeof(StatusProposta)))
            {

                if (int.Parse(status.Value) == (int)StatusProposta.NENHUM)
                {
                    <option value="@status.Value">Todos os Status</option>
                }
                else
                {
                    <option value="@status.Value">@status.Text</option>
                }
            }
    </select>
    <input type="submit" class="btn-sm btn-default" value="Buscar" />
}
    
<p>
    @Html.ActionLink("Nova Proposta", "Passo1")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Codigo")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.ActionLink("CPF do Segurado", "Index", new { sortOrder = ViewBag.CpfSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nome do Segurado", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Cep do Segurado")
        </th>
        <th>
            @Html.DisplayName("Cobertura")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Status)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Segurado.CodigoCpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segurado.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segurado.NumeroCep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura.NomeCobertura)
        </td>
        <td>
            @Html.ActionLink("Criar Apolice", "Create", "Apolice", new { propostaId = item.Id }, new { propostaId = item.Id }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div class="col-sm-10">
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page = page }))
        Mostrando @Model.FirstItemOnPage de @Model.LastItemOnPage
                    de @Model.TotalItemCount Propostas
    </div>
</div>
