@model CotacaoApp.Models.Proposta
<!--tem q importar o using CotacaoApp.Enumerations como feito abaixo nas paginas de html q usar -->
@using CotacaoApp.Enumerations  

@{
    ViewBag.Title = "Passo 1 - Seu Carro";
}


<div class="col-lg-12 wizardstep-blocks" >
    <div class="wizardstep-block-On">
        <div class="wizardstep-StepTitle">1º Passo</div>
        <div class="wizardstep-Title">Seu Carro</div>
    </div>
    <div class="wizardstep-block-Off">
        <div class="wizardstep-StepTitle">2º Passo</div>
        <div class="wizardstep-Title">Localização</div>
    </div>
    <div class="wizardstep-block-Off">
        <div class="wizardstep-StepTitle">3º Passo</div>
        <div class="wizardstep-Title">Segurado</div>
    </div>
    <div class="wizardstep-block-Off">
        <div class="wizardstep-StepTitle">4º Passo</div>
        <div class="wizardstep-Title">Condutores</div>
    </div>
    <div class="wizardstep-block-Off">
        <div class="wizardstep-StepTitle">5º Passo</div>
        <div class="wizardstep-Title">Conclusão</div>
    </div>
</div>
    @using (Html.BeginForm("Passo1", "Proposta", FormMethod.Post, new { id = "Proposta" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-lg-12">
            <h4></h4>
            <hr />
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("proposta", new Microsoft.Web.Mvc.MvcSerializer().Serialize(Model))

            <input type="hidden" id="CodigoCoberturaHidden" value="@Model.CodigoCobertura" />
            <div class="form-group ">
                @Html.LabelFor(model => model.CodigoCobertura, htmlAttributes: new { @class = "control-label col-md-3" })
                <select name="CodigoCobertura" id="CodigoCobertura" class="form-control col-md-9" style="margin-left:15px" required>
                    <option value="" disabled selected>Escolha uma Cobertura</option>
                    @foreach (var cobertura in Model.Coberturas)
                    {
                        <option value="@cobertura.Id">@cobertura.NomeCobertura</option>
                    }
                </select>
            </div>
            <div class="form-group col-lg-12" style=" padding-top: 5px; margin-left:0px;">
                <pre id="coberturaDescricao" class="preformatted col-sm-offset-3" style="display: none;"></pre>
            </div>

            @Html.HiddenFor(model => model.NomeMarcaVeiculo, new { id = "NomeMarcaVeiculoHidden" })
            <div class="form-group ">
                @Html.Label("Marca do Carro:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <select name="NomeMarcaVeiculo" id="NomeMarcaVeiculoSelect" class="form-control col-md-9" style="margin-left:15px" required>
                    <option value="" disabled selected>Selecione</option>
                </select>
            </div>

            @Html.HiddenFor(model => model.AnoFabricacaoVeiculo, new { id = "AnoFabricacaoVeiculoHidden" })
            <div class="form-group ">
                @Html.LabelFor(model => model.AnoFabricacaoVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <select name="AnoFabricacaoVeiculo" id="AnoFabricacaoVeiculo" class="form-control col-md-9" style="margin-left:15px" required>
                    <option value="" disabled selected>Selecione</option>
                </select>
            </div>

            @Html.HiddenFor(model => model.AnoModeloVeiculo, new { id = "AnoModeloVeiculoHidden" })
            <div class="form-group" style="display: none" id="AnoModeloVeiculoField">
                @Html.LabelFor(model => model.AnoModeloVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <span id="AnoModeloVeiculoRadios"></span>
                </div>
                <span id="AnoModeloVeiculo-error" class="help-block" style="display: none;"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @*<input type="text" name="NomeVeiculo" id="NomeVeiculo" class="form-control" />*@
                    @Html.EditorFor(model => model.NomeVeiculo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IEZeroKM, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.RadioButtonFor(model => model.IEZeroKM, IEZeroKM.SIM) Sim
                    @Html.RadioButtonFor(model => model.IEZeroKM, IEZeroKM.NAO) Não
                    @Html.ValidationMessageFor(model => model.IEZeroKM, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Exemplo - INICIO -->
            <div class="form-group">
                @Html.LabelFor(model => model.IEFinanciadoVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, IEFinanciadoVeiculo.NAOFINANCIADO) Não é Financiado</p>
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, IEFinanciadoVeiculo.SIMFINANCIADO) Sim, é Financiado</p>
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, IEFinanciadoVeiculo.SIMFINANCIADOCOMALIENACAO) Sim, é Financiado e Alienado (CDC, Financiamento Direto, Leasing, Consórcio)</p>
                    @Html.ValidationMessageFor(model => model.IEFinanciadoVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--Exemplo - FIM -->

            <h2>Sobre o Carro</h2>
            <div class="form-group">
                <label class="control-label col-md-3">Marque as opções nas quais seu carro se enquadra(caso não se encaixe em nenhuma,ignore a pergunta).</label>
                <div class="col-md-9">
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoTaxi, IETipoVeiculoTaxi.SIM) Táxi</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoDeficiente, IETipoVeiculoDeficiente.SIM) Adaptado para deficiente físico</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoKitGas, IETipoVeiculoKitGas.SIM) Tem Kit Gás</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoBlindado, IETipoVeiculoBlindado.SIM) É Blindado</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoPessoaJuridica, IETipoVeiculoPessoaJuridica.SIM) Pessoa Juridica</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IEAlarmeVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, IEAlarmeVeiculo.ALARMESONORO) Alarme Sonoro</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, IEAlarmeVeiculo.CHAVECODIFICADA) Chave Codificada</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, IEAlarmeVeiculo.OUTROSDISPOSITIVOS) Outros Dispositivos</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, IEAlarmeVeiculo.NAOTENHODISPOSITIVO) Não Tenho Dispositivo</p>
                    @Html.ValidationMessageFor(model => model.IEAlarmeVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" name="btnVoltar" value="<< Anterior" class="btn btn-default" />
                </div>
                <div class="col-md-1">
                    <input type="submit" name="btnAvancar" value="Confirmar e Prosseguir >>" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

<script type="text/javascript" src="~/Scripts/Pages/Proposta/Passo1.js"></script>
<script type="text/javascript" src="~/Scripts/Pages/Proposta/validacaoProposta.js"></script>
<script type="text/javascript" src="~/Scripts/utilCorretorApp.js"></script>

