@model CotacaoApp.Models.Proposta

@{
    ViewBag.Title = "Seu Carro";
}


<button type="button" class="btn btn-primary btn-lg">Seu Carro</button>
<button type="button" class="btn btn-default btn-lg">Localização</button>
<button type="button" class="btn btn-default btn-lg">Segurado</button>
<button type="button" class="btn btn-default btn-lg">Condutores</button>
<button type="button" class="btn btn-default btn-lg">Conclusão</button>

<h2>Seu Carro</h2>

@using (Html.BeginForm("Passo1", "Proposta", FormMethod.Post, new { id = "Proposta" } ))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Formulario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("proposta", new Microsoft.Web.Mvc.MvcSerializer().Serialize(Model))


            <div class="form-group ">
                
                <select name="CodigoCobertura" class="form-control col-md-9 col-md-offset-3" style="margin-left:305px" required>
                    <option value="" disabled selected>Escolha uma Cobertura</option>
                    @foreach (var cobertura in Model.Coberturas)
                    {
                        <option value="@cobertura.Id">@cobertura.NomeCobertura</option>
                    }
                </select>
            </div>


            <div class="form-group">
                @Html.Label("Marca do Carro:*", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NomeMarcaVeiculo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnoFabricacaoVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AnoFabricacaoVeiculo, new { htmlAttributes = new { @class = "form-control", @min = "1900" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AnoModeloVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AnoModeloVeiculo, new { htmlAttributes = new { @class = "form-control", @min = "1900" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IEZeroKM, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.RadioButtonFor(model => model.IEZeroKM, true) Sim
                    @Html.RadioButtonFor(model => model.IEZeroKM, false) Não
                    @Html.ValidationMessageFor(model => model.IEZeroKM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NomeVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NomeVeiculo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IEFinanciadoVeiculo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, "0") Não é Financiado</p>
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, "1") Sim, é Financiado</p>
                    <p>@Html.RadioButtonFor(model => model.IEFinanciadoVeiculo, "2") Sim, é Financiado e Alienado (CDC, Financiamento Direto, Leasing, Consórcio)</p>
                    @Html.ValidationMessageFor(model => model.IEFinanciadoVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <h2>Sobre o Carro</h2>
            <div class="form-group">
                <label class="control-label col-md-3">Marque as opções nas quais seu carro se enquadra(caso não se encaixe em nenhuma,ignore a pergunta).</label>
                <div class="col-md-9">
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoTaxi, true) Táxi</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoDeficiente, true) Adaptado para deficiente físico</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoKitGas, true) Tem Kit Gás</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoBlindado, true) É Blindado</p>
                    <p>@Html.CheckBoxFor(model => model.IETipoVeiculoPessoaJuridica, true) Pessoa Juridica</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IEAlarmeVeiculo, htmlAttributes: new { @class = "control-label col-md-3"})
                <div class="col-md-9">
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, "0") Alarme Sonoro</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, "1") Chave Codificada</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, "2") Outros Dispositivos</p>
                    <p>@Html.RadioButtonFor(model => model.IEAlarmeVeiculo, "3") Não Tenho Dispositivo</p>
                    @Html.ValidationMessageFor(model => model.IEAlarmeVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" name="btnVoltar" value="<< Anterior" class="btn btn-default" />
                </div>
                <div class="col-md-1">
                    <input type="submit" name="btnAvancar" value="Confirmar e Prosseguir >>" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

<script type="text/javascript">

    //VALIDACAO COMPORTAMENTO PADRAO
    $.validator.setDefaults({
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

    //CAMPOS QUE SERÃO VALIDADOS
    ///para o Bruno fazer
    $("#Proposta").validate({
        rules: {
            /*fazer igual o exemplo para todos os campos obrigatórios do formulario, ou seja, todos que apresentam asterisco.
              Será necessário fazer nos 5 passos*/
            //EXEMPLO para o campo CodigoCobertura - INICIO
            CodigoCobertura: {
                required: true
            },
            AnoFabricacaoVeiculo: {
                required: true
            },
            NomeMarcaVeiculo: {
                required: true
            },
            AnoModelo: {
                required: true
            },
            IEZeroKM: {
                required: true
            },
            NomeVeiculo: {
                required: true
            },
            IEFinanciadoVeiculo: {
                required: true                 
            },
            IEAlarmeVeiculo: {
                required: true
            }
        }
    });
</script>

