@model CotacaoApp.Models.Proposta
@{
    ViewBag.Title = "Passo 5 - Conclusão";
}

<button type="button" class="btn btn-default btn-lg">Seu Carro</button>
<button type="button" class="btn btn-default btn-lg">Localização</button>
<button type="button" class="btn btn-default btn-lg">Segurado</button>
<button type="button" class="btn btn-default btn-lg">Condutores</button>
<button type="button" class="btn btn-primary btn-lg">Conclusão</button>

<h2>Conclusão</h2>

@using (Html.BeginForm("Passo5", "Proposta", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Formulario</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("proposta", new Microsoft.Web.Mvc.MvcSerializer().Serialize(Model))

        <div class="form-group">
            @Html.LabelFor(model => model.Segurado.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Segurado.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Segurado.Email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Segurado.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            telefone fixo
            @Html.LabelFor(model => model.Segurado.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Segurado.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            telefone celular
            @Html.LabelFor(model => model.Segurado.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Segurado.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            telefone comercial
            @Html.LabelFor(model => model.Segurado.Nome, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Segurado.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            telefone comercial
            @Html.LabelFor(model => model.Segurado.IENoticiasEmail, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.Segurado.IENoticiasEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Segurado.IENoticiasEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" name="btnVoltar" value="Voltar" class="btn btn-default" />
            </div>
            <div class="col-md-1">
                <input type="submit" name="btnAvancar" value="Concluir" class="btn btn-primary" />
            </div>
        </div>
    </div>
}